@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color : #183153;
  --secondary-color: #f9232c;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* Track */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color); /* color of the scrollbar handle */
  border-radius: 2px; /* rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); /* color of the scrollbar handle on hover */
}


.loader {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center ;
}

.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.09);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .content {
    display: none; /* Hide content initially */
    padding-top: 80px;
   
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  background-color: #ffffff; /* Adjust as needed */
  transition: box-shadow 0.3s ease-in-out; 
}

.navlinks {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center; /* Center horizontally */
  flex-grow: 1; /* Allow the flex item to grow and take up remaining space */
}

.navlinks ul {
  display: flex;
}
 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: box-shadow 0.3s ease-in-out;
 
}
.navbar.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);

}


.logo {
  width: auto; /* Change width to auto */
  height: 20%;
  display: flex; /* Add flex display */
  align-items: center; /* Align items vertically */
}

.logo img {
  width: 100%; /* Set width to 100% */
  height: 50px;
}


.navlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks ul li {
  margin: 0 10px;
  cursor: pointer;
}
.navlinks ul li a {
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 0.9em;
  color: var(--primary-color);
  padding: 5px 10px;
  display: block;
  transition: color 0.3s;
}
.navlinks ul li a:hover {
  color: var(--secondary-color);
}

.navlinks ul li {
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}

.navlinks ul li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  left: 50%;
  bottom: -3px;
  transition: width 0.3s ease, left 0.3s ease;
}

.navlinks ul li:hover::after {
  width: 100%;
  left: 0;
}

.navlinks ul li .dropdown {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  list-style: none;
  padding: 0;
  margin: 0;
  top: 60px;
  left: -10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navlinks ul li .dropdown li {
  margin: 0;
}

.navlinks ul li .dropdown li a {
  padding: 10px;
  color: #fff;
}
.navlinks ul li .dropdown li a:hover {
  border: 1px solid #fff;
  
}

.navlinks ul li .dropdown li a i {
  margin-right: 10px;
  background-color: #fff;
  color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
}
.navlinks ul li:hover .dropdown {
  display: block;
}



.nav_buttons {
  display: flex;
  gap: 10px;
  padding-right: 40px;
}

.nav_buttons button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--secondary-color);
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
body > div.content > header > div > div.nav_buttons > button:nth-child(2) {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: .3s ease;
}
body > div.content > header > div > div.nav_buttons > button:nth-child(2):hover {
  background-color: #E3242B;
  color: #fff;
}


.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}


.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

/* Hero section */

.text_container {
   display: flex;
   width: 100%;
   padding: 0px 40px;
   box-sizing: border-box;
}
.text_container h1 {
  width: 65%;
  font-size: 38px;
  margin-left: 60px;
  margin-top: 25px;
  font-weight: 700;
  color: var(--primary-color);
}
.text_container p {
  width: 60%;
  font-size: 0.8em; /* Base font size */
  line-height: 1.6em; /* Line height for readability */
  font-weight: 500;
  margin-top: 25px;
  padding-top: 15px;
  max-width: 750px; /* Optional: Max width to control text width */
  color: var(--primary-color); /* Text color */
  background-color: #fff; /* Background color for paragraph */
  border-left: 4px solid var(--secondary-color); /* Left border for emphasis */
  padding-left: 1.5em; /* Padding to separate text from border */
  padding-right: 1.5em;
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text_container span {
  color: green;
}
.tt2 {
  color: #f9232c !important;
}
.tt3 {
  color: rgb(233, 233, 14) !important;
  
}
.hos {
  color: var(--secondary-color) !important;
  position: relative;
  display: inline-block;
  padding-bottom: 9px; /* Adjust the padding to accommodate the height of the SVG */
}

.hos::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 20px; /* Increased height of the SVG */
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"><path d="M0,10 Q25,0 50,10 T100,10" stroke="%23f9232c" stroke-width="2.5" fill="none"/></svg>') no-repeat center;
  bottom: 0;
  left: 0;
}
.hero_div {
  margin-top: 40px;
}

swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  margin-top: -20px;
  cursor: grab;
}

swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}



.swipper_card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
  margin-top: 60px !important;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  margin-top: 20px;
}
.card_head {
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 320px; /* Adjust the height as needed */
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease;
}
.img img:hover {
  transform: scale(1.03);
}
.card_body {
  padding: 10px 20px;
  cursor: pointer;
}

.card_body h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.card_body a {
  display: inline-block;
  background-color: #f9232c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.card_body a:hover,
.see-more-btn:hover {
  background-color: #e3242b;
  color: #fff !important;
}


.see-more-btn {
  background: var(--secondary-color);
  padding: 10px 14px;
  border: none;
  color: #fff;
  border-radius: 4px;
  margin-top: 160px;
  font-size: 14px;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
.services {
  padding: 20px 40px;
  background-color: #f9feff;
}

.center-heading {
text-align: center;
}

.center-heading .section-title {
font-weight: 600;
font-size: 28px;
color: var(--primary-color);
letter-spacing: 1.1px;
line-height: 38px;
margin-bottom: 10px;
}

.center-heading.colored .section-title {
color: #ffffff;
}

.center-text {
text-align: center;
font-weight: 400;
font-size: 16px;
color: var(--primary-color);
line-height: 28px;
letter-spacing: 1px;
margin-bottom: 50px;
}

.center-text.colored {
color: #C7E5FF;
}

.center-text p {
margin-bottom: 30px;
}

.services-small-item {
display: block;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 40px 28px;
text-align: center;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: relative;
z-index: 2;
margin-bottom: 30px;
}

.services-small-item:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
border-radius: 5px;
background-image: linear-gradient(135deg, #80d0c7 0%, #183153 100%);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
opacity: 0;
}
.services-small-item.active:before, .services-small-item:hover:before {
opacity: 1;
}

.services-small-item.active .icon:before, .services-small-item:hover .icon:before {
opacity: .26;
}

.services-small-item.active .icon i, .services-small-item:hover .icon i {
background: -webkit-linear-gradient(#fff, #fff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title, .services-small-item:hover .services-title {
color: #ffffff;
}

.services-small-item.active p, .services-small-item:hover p {
color: #ffffff;
}

.services-small-item.active .button i, .services-small-item:hover .button i {
background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
color: var(--primary-color) !important;
}

.services-small-item:hover {
margin-top: -15px;
}

.services-small-item .icon {
width: 139px;
height: 113px;
margin: auto;
position: relative;
margin-bottom: 20px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}


.services-small-item .icon i {
display: block;
height: 67px;
line-height: 67px;
position: absolute;
width: 100%;
top: 22px;
z-index: 2;
font-size: 28px;
background-image: linear-gradient(135deg, #80d0c7 0%,#183153 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item .services-title {
font-weight: 400;
font-size: 16px;
color: var(--primary-color);
letter-spacing: 0.7px;
margin-bottom: 15px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item p {
font-weight: 400;
font-size: 14px;
color: #6F8BA4;
letter-spacing: 0.88px;
line-height: 26px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
margin-bottom: 30px;
}

.services-small-item .button {
position: relative;
z-index: 2;
}

.services-small-item .button i {
width: 42px;
height: 42px;
background-image: linear-gradient(135deg, #80d0c7 0%, #183153 100%);
line-height: 42px;
text-align: center;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
color: #fff;
padding-left: 3px;
}

.services-small-item:hover + .item-bg {
bottom: 30px;
}

.item-bg {
content: '';
position: absolute;
width: 80%;
height: 15px;
bottom: 15px;
left: 0px;
right: 0px;
margin: auto;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index: 1;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

/* Carousel section */

.section_one {
  padding: 40px 60px;
}
.carousel-container {
  position: relative;
 width: 100%;
  margin: auto;
}

.carousel-slide {
  display: none;
  position: relative;
 

}



.carousel-text {
  width: 50%; /* Adjust width as needed */
  position: absolute;
  top: 20%;
  right: 20px;
 
}
.carousel-text h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 600;
}
.carousel-text p {
  color: #6F8BA4;
  
}
.carousel-slide .img_con {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
}
.carousel-slide .img_con img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.dot-container {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active-dot {
  background-color: var(--primary-color);
}

.carousel_btn {
  padding: 6px 16px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.carousel_btn:hover {
  background-color: #102a4e;
}
.center-title {
  text-align: center;
  margin-bottom: 40px;
}

/*section 2 starts */
.section_two {
  background: #f9feff;
  padding: 20px 60px;
  
}
.box {
  width: 30%;
  position: relative;
}
.box .img_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.box .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  
}
.section_two .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.text-container {
  background: var(--secondary-color);
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border-right: 6px solid var(--primary-color);
}
.text-container p {
 
  color: yellow;
  text-align: center;
  font-weight: 600;
}
.text-container p span {
  color: #fff;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.09);
}

/* Third section */

.section3 {
  padding: 20px;
}

#ourclients {
  overflow: hidden;
  position: relative;
}

.clients-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

#clientlogo {
  display: flex;
  width: calc(100% * 2); /* Twice the width of the container to enable continuous scroll */
  animation: scroll 20s linear infinite;
}

#clientlogo li {
  list-style: none;
  margin: 0 20px;
}

#clientlogo img {
  max-width: 120px;
  height: auto;
}

/* Keyframe animation to create scrolling effect */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}



/* section 4 starts */
.section4 {
  background-image: url('assets/bg1.jpg');
  background-position: right;
  top: 0px;
  background-repeat: no-repeat;
  padding: 20px 60px;
  position: relative;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.news-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.news-card:hover {
  transform: translateY(-10px);
}

.news-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-content {
  padding: 15px;
}

.news-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 14px;
}

.read-time {
  font-size: 12px;
  color: #6F8BA4;
}

.news-card h2 {
  margin: 10px 0;
  font-size: 18px;
  color: var(--secondary-color);
}

.topic {
  font-size: 14px;
  color: #007BFF;
  font-weight: 500;
  margin-bottom: 10px;
}

.description {
  color: #6F8BA4;
  
}
.newsletter {
  padding: 20px 60px;
}
.newsletter .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.newsletter .container .ico {
  width: 50%;
  height: 50%;
}
.newsletter .container .ico img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsletter .container .con {
  width: 40%;
}
.con h1 {
  color: var(--primary-color);
  font-weight: 600;
}
.con p {
  color: #6F8BA4;
  font-weight: 500;
}
.newsletterform form input {
  border: 1px solid #ddd;
  padding: 10px 16px;
  outline: none;
}
.newsletterform form input:focus {
  border: 1px solid #102a4e;
}
.newsletterform form button {
  padding: 11px 16px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: var(--secondary-color);
}
/* random image */





