@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color : #183153;
  --secondary-color: #f9232c;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* Track */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color); /* color of the scrollbar handle */
  border-radius: 2px; /* rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); /* color of the scrollbar handle on hover */
}


.loader {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center ;
}

.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.09);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .content {
    display: none; /* Hide content initially */
    padding-top: 80px;
   
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  background-color: #ffffff; /* Adjust as needed */
  transition: box-shadow 0.3s ease-in-out; 
}

.navlinks {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center; /* Center horizontally */
  flex-grow: 1; /* Allow the flex item to grow and take up remaining space */
}

.navlinks ul {
  display: flex;
}
 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: box-shadow 0.3s ease-in-out;
 
}
.navbar.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.logo {
  width: auto; /* Change width to auto */
  height: 20%;
  display: flex; /* Add flex display */
  align-items: center; /* Align items vertically */
}

.logo img {
  width: 100%; /* Set width to 100% */
  height: 50px;
}


.navlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks ul li {
  margin: 0 10px;
  cursor: pointer;
}
.navlinks ul li a {
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 0.9em;
  color: var(--primary-color);
  padding: 5px 10px;
  display: block;
  transition: color 0.3s;
}
.navlinks ul li a:hover {
  color: var(--secondary-color);
}

.navlinks ul li {
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}

.navlinks ul li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  left: 50%;
  bottom: -3px;
  transition: width 0.3s ease, left 0.3s ease;
}

.navlinks ul li:hover::after {
  width: 100%;
  left: 0;
}

.navlinks ul li .dropdown {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  list-style: none;
  padding: 0;
  margin: 0;
  top: 60px;
  left: -10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navlinks ul li .dropdown li {
  margin: 0;
}

.navlinks ul li .dropdown li a {
  padding: 10px;
  color: #fff;
}
.navlinks ul li .dropdown li a:hover {
  border: 1px solid #fff;
  
}

.navlinks ul li .dropdown li a i {
  margin-right: 10px;
  background-color: #fff;
  color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
}
.navlinks ul li:hover .dropdown {
  display: block;
}



.nav_buttons {
  display: flex;
  gap: 10px;
  padding-right: 40px;
}

.nav_buttons button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--secondary-color);
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
body > div.content > header > div > div.nav_buttons > button:nth-child(2) {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: .3s ease;
}
body > div.content > header > div > div.nav_buttons > button:nth-child(2):hover {
  background-color: #E3242B;
  color: #fff;
}


.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}


.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

/* Hero section */

.text_container {
   display: flex;
   width: 100%;
   padding: 0px 40px;
   box-sizing: border-box;
}
.text_container h1 {
  width: 60%;
  font-size: 38px;
  color: var(--primary-color);
}
.text_container p {
  width: 60%;
  font-size: 1em; /* Base font size */
  line-height: 1.6em; /* Line height for readability */
  font-weight: 500;
  margin-top: 25px;
  padding-top: 15px;
  max-width: 650px; /* Optional: Max width to control text width */
  color: var(--primary-color); /* Text color */
  background-color: #fff; /* Background color for paragraph */
  border-left: 4px solid var(--secondary-color); /* Left border for emphasis */
  padding-left: 1em; /* Padding to separate text from border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text_container span {
  color: green;
}
.tt2 {
  color: #f9232c !important;
}
.tt3 {
  color: rgb(233, 233, 14) !important;
  
}
.hos {
  color: var(--secondary-color) !important;
  position: relative;
  display: inline-block;
  padding-bottom: 9px; /* Adjust the padding to accommodate the height of the SVG */
}

.hos::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 20px; /* Increased height of the SVG */
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"><path d="M0,10 Q25,0 50,10 T100,10" stroke="%23f9232c" stroke-width="2.5" fill="none"/></svg>') no-repeat center;
  bottom: 0;
  left: 0;
}
.hero_div {
  margin-top: 40px;
}

swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  margin-top: -20px;
  cursor: grab;
}

swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}



.swipper_card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
  margin-top: 60px !important;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  margin-top: 20px;
}
.card_head {
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 320px; /* Adjust the height as needed */
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease;
}
.img img:hover {
  transform: scale(1.03);
}
.card_body {
  padding: 10px 20px;
  cursor: pointer;
}

.card_body h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.card_body a {
  display: inline-block;
  background-color: #f9232c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.card_body a:hover,

.see-more-btn:hover {
  background-color: #e3242b;
}


.see-more-btn {
  background: var(--secondary-color);
  padding: 10px 14px;
  border: none;
  color: #fff;
  border-radius: 4px;
  margin-top: 160px;
  font-size: 14px;
  cursor: pointer;
}

